<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='/css/layout.css' rel="stylesheet" />
    <title>Bookis Smuin</title>
  </head>
  <body>
    <div class='header'>

      <div class='brand'>
        Bookis Smuin
      </div>

      <div class='nav'>
        <ul class="horizontal-list">
          <li><a class="active" href='/about-me'>About</a></li>
          <li><a class="" href="#">Blog</a></li>
          <li><a class="" href="#">Contact</a></li>
          <li><a class="" href="#">Cats</a></li>
        </ul>
      </div> <!--.nav -->

    </div> <!--.header -->

    <div class="container">

    <div> <!--.container -->
  </body>
</html>
