/* HTML Tags... */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* ...HTML Tags*/

/* Layout... */

.horizontal-list {
  position: relative;
}
.horizontal-list > li {
  font-size: 14pt;
  height: 30px;
  margin: 0 5px;
  padding-top: 10px;
  display: inline-block;
}

.dropdown-anchor {
  position: relative;
}

.horizontal-list li:hover {
  background-color: #2e9d99;
}
/* ...Layout*/

/* Header... */
.header {
  background-color: #3baeae;
  height: 40px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.brand {
  padding-left: 40px;
  background: transparent url(/cat-logo.png) no-repeat left center;
  display: inline-block;
  font-size: 24pt;
}

.nav {
  display: inline-block;
  float: right;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .horizontal-list li a {
  text-decoration: none;
  color: black;
  padding: 0 5px;
}

.dropdown {
  display: none;
}

li:hover > .dropdown {
  position: relative;
  left: 0;
  display: inline;
}

/*... Header*/
